<h3>iam product component</h3>

<!-- <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">product  Id</th>
        <th scope="col">Product  Name</th>
        <th scope="col">Price</th>
        <th scope="col"> Availability</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of product">
        <td>{{row.ProductId}}</td>
        <td>{{row.ProductName}}</td>
        <td>{{row.UnitPrice}}</td>
        <td>{{row.ProductQnt}}</td>
        <td>{{row.ProductImg}}</td>
        
      </tr>
    </tbody>
  </table> -->
